<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<header>
			<!--span for logo?  -->
			<!-- span for logout -->
		</header>
		<!-- <img src="" alt=""> -->
		<h1>Clique Members:</h1>
		<section class="accordionTest">
			<div class="users">
<<<<<<< HEAD
					{{users.name}}
				{{#each users.name}}
			<li>{{this}}</li>
		{{/each}}
=======
				{{#each users}}
				<ul>
					<li>{{this.name}}</li>
					<li>{{this.company}}</li>
					<li>{{this.position}}</li>
					<li>{{this.skills}}</li>
					<li>{{this.email}}</li>
				</ul>
				{{/each}}

>>>>>>> eda5394f650e789484b7ed149225b9349e1bc8db
			</div>

	</body>
</html>
