<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Web Dev Clique</title>
	</head>
	<body>
		<header>
			<!--span for logo?  -->
			<!-- span for logout -->
		</header>
		<!-- <img src="" alt=""> -->
		<section class="accordionTest">
			<div class="users">
				{{#each users}}
				<div>

					<p>{{this.name}}</p>
					<p>{{this.company}}</p>
					<p>{{this.position}}</p>
					<p>{{this.skills}}</p>
					<p>{{this.email}}</p>
					<!-- <form action='/contacts' method="get"><button>Get Contacts</button></form> -->
				</div>
				{{/each}}

				{{#each contacts}}
				<div>
					<p>{{this.name}}</p>
					<p>{{this.company}}</p>
					<p>{{this.position}}</p>
					<p>{{this.skills}}</p>
					<p>{{this.email}}</p>
					<p>{{this.dateMet}}</p>
					<p>{{this.familiarity}}</p>
					<p>{{this.notes}}</p>
					<p>{{this.linkedinURL}}</p>
				</div>
				{{/each}}
			</div>

	</body>
</html>
